<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Django Formset JS example</title>

{{ formset.media }}

</head>
<body>
    <form action="." method="post">{% csrf_token %}

    {% load formset_tags %}

    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
        {{ formset.management_form }}

        <div data-formset-body>
            <!-- New forms will be inserted in here -->
            {% for form in formset %}
                <div data-formset-form>
                    {% comment %} {{ form }} {% endcomment %}
                    <p>
                        {{ form.id }}
                        {{ form.bar.label_tag }}
                        {{ form.bar }}
                        {{ form.bar.errors }}
                    </p>
                    <p>
                        {{ form.foo.label_tag }}
                        {{ form.foo }}
                        {{ form.foo.errors }}
                    </p>
                    {% if formset.can_delete %}
                        <span style="display:none;">{{ form.DELETE }}</span>
                        <button type="button" data-formset-delete-button>Delete form</button>
                    {% endif %}
                    <br /><br />
                </div>
            {% endfor %}
        </div>

        <!-- The empty form template. By wrapping this in a <script> tag, the
        __prefix__ placeholder can easily be replaced in both attributes and
        any scripts -->
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form>
                    <p>
                        {{ formset.empty_form.bar.label_tag }}
                        {{ formset.empty_form.bar }}
                        {{ formset.empty_form.bar.errors }}
                    </p>
                    <p>
                        {{ formset.empty_form.foo.label_tag }}
                        {{ formset.empty_form.foo }}
                        {{ formset.empty_form.foo.errors }}
                    </p>
                    {% if formset.can_delete %}
                        <span style="display:none;">{{ formset.empty_form.DELETE }}</span>
                        <button type="button" data-formset-delete-button>Delete form</button>
                    {% endif %}
                    <br /><br />
                </div>
            {% endescapescript %}
        </script>

        <br /><br />
        <!-- This button will add a new form when clicked -->
        <input type="button" value="Add another" data-formset-add>

        <script>jQuery(function($) {
            $("#formset").formset({
                form: '[data-formset-form]',
                emptyForm: 'script[type=form-template][data-formset-empty-form]',
                body: '[data-formset-body]',
                add: '[data-formset-add]',
                deleteButton: '[data-formset-delete-button]',
                animateForms: true
            });
        });
        </script>

    </div>

    <br /><br />
    <button type="submit">Submit</button>

    </form>
</body>
</html>
